<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<br>
<div th:object="${user}" class="container my-5">
    <h1> Welcome to the home page of <span th:text="*{name}"></span></h1>

    <br/><br/>
    <u>Registered data</u>
    <br/><br/><br/>
    <p>Login: <span th:text="*{username}"></span></p>
    <br/>
    <p>Password: <span th:text="*{password}"></span></p>
    <br/>
    <p>Name: <span th:text="*{name}"></span></p>
    <br/>
    <p>Adress: <span th:text="*{adress}"></span></p>
    <br/>
    <p>Email: <span th:text="*{email}"></span></p>
    <br/><br/>
    <form class="button" th:action="@{../logout}" method="GET">
        <input type="submit" class="btn btn-primary" value="Logout"/>
    </form>

</div>
</body>
</html>